/* =========================
   ABOUT PAGE
========================= */

.about-page {
    max-width: 2000px;
    margin: 0 auto;
    /* padding: 45px 30px 70px; */
    font-family: 'Montserrat', sans-serif;
    color: #1E1E1E;
}

.about-hero {
    text-align: center;
    margin-bottom: 70px;
}

.about-hero h1 {
    /* margin: 0 0 20px; */
    color: #E2725B;
    font-size: 68px;
    /* font-weight: 600; */
    padding-top: 85px;
    margin-bottom: 30px;
}

.about-hero p {
    margin: 0;
    color: #666;
    font-size: 38px;
    font-weight: 500;
}

.about-company {
    background: #FFFFFF;
    padding: 45px 50px;
    border: 1px solid #eeeeee;
    border-radius: 20px;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.10);
    margin-bottom: 45px;
}

.about-company h2 {
    margin: 0 0 35px;
    color: #1E1E1E;
    font-size: 48px;
    /* font-weight: 600; */
}

.about-company p {
    margin: 0 0 25px;
    color: #666;
    font-size: 36px;
    line-height: 1.65;
}

.about-company p:last-child {
    margin-bottom: 0;
}

.about-statistics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-bottom: 60px;
}

.about-stat-card {
    min-height: 270px;
    background: #FFFFFF;
    border: 1px solid #eeeeee;
    border-radius: 20px;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.10);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 25px;
}

.about-stat-icon {
    width: 120px;
    height: 120px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E2725B;
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 44px;
}

.about-stat-number {
    margin-bottom: 15px;
    color: #1E1E1E;
    font-size: 38px;
    font-weight: 600;
}

.about-stat-label {
    color: #666;
    font-size: 34px;
    line-height: 1.4;
}

.about-benefits {
    background: #FFFFFF;
    padding: 45px 50px 50px;
    border: 1px solid #eeeeee;
    border-radius: 20px;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.10);
}

.about-benefits h2 {
    margin: 0 0 45px;
    color: #1E1E1E;
    font-size: 48px;
    /* font-weight: 600; */
}

.benefits-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
    row-gap: 45px;
}

.benefit-item h3 {
    margin: 0 0 18px;
    color: #E2725B;
    font-size: 40px;
    /* font-weight: 600; */
}

.benefit-item p {
    margin: 0;
    color: #666;
    font-size: 36px;
    line-height: 1.6;
}